/*
Default app theme

FYI:
for some variables colors can be same for some themes
but it should be separate because they might have different value for another theme
*/

html.theme-default {
  /****************/
  /* BASIC colors */
  /****************/

  // Brand colors
  --color-primary: #8e99f3;
  --color-primary-lighter: #c2c6f9;

  --color-secondary: #fc6b40;
  --color-secondary-lighter: #fff0ec;

  // States colors
  --color-state-success: #4fb14b;
  --color-state-warning: #ff9800;
  --color-state-danger: #f44336;
  --color-state-info: #2196f3;

  // Text colors
  --color-text-primary: #3d445c;
  --color-text-secondary: #8b8f9d;

  // Background colors
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f6f7f9;

  // Borders, Dividers
  --color-border: #e7e7e7;
  --color-divider: #e8ebf1;

  /*********************/
  /* COMPONENTS colors */
  /*********************/

  // Buttons
  --color-btn-primary-bg: #8e99f3;
  --color-btn-primary-bg-hover: #7a86f0;
  --color-btn-primary-bg-active: #6b78ed;
  --color-btn-primary-text: #ffffff;
  --color-btn-primary-focus: rgba(142, 153, 243, 0.5);

  --color-btn-secondary-bg: #fc6b40;
  --color-btn-secondary-bg-hover: #fb5a2d;
  --color-btn-secondary-bg-active: #fa4a1a;
  --color-btn-secondary-text: #ffffff;
  --color-btn-secondary-focus: rgba(252, 107, 64, 0.5);

  --color-btn-outline-bg: transparent;
  --color-btn-outline-bg-hover: rgba(142, 153, 243, 0.1);
  --color-btn-outline-bg-active: rgba(142, 153, 243, 0.2);
  --color-btn-outline-border: #8e99f3;
  --color-btn-outline-text: #8e99f3;
  --color-btn-outline-focus: rgba(142, 153, 243, 0.5);

  --color-btn-ghost-bg: transparent;
  --color-btn-ghost-bg-hover: rgba(142, 153, 243, 0.1);
  --color-btn-ghost-bg-active: rgba(142, 153, 243, 0.2);
  --color-btn-ghost-text: #8e99f3;
  --color-btn-ghost-focus: rgba(142, 153, 243, 0.5);

  --color-btn-text-bg: transparent;
  --color-btn-text-bg-hover: rgba(142, 153, 243, 0.1);
  --color-btn-text-bg-active: rgba(142, 153, 243, 0.2);
  --color-btn-text-text: #8e99f3;
  --color-btn-text-focus: rgba(142, 153, 243, 0.5);

  --color-btn-disabled-bg: #e8ebf1;
  --color-btn-disabled-text: #8b8f9d;

  --btn-border-radius: 0.5rem;

  // Sidebar
  --color-sidebar-bg: #3d445c;
  --color-sidebar-divider: rgba(255, 255, 255, 0.1);
  --color-sidebar-btn-bg: rgba(255, 255, 255, 0.1);
  --color-sidebar-btn-bg-md: rgba(255, 255, 255, 0.15); // responsive bg for md breakpoint
  --color-sidebar-btn-text: #ffffff;

  // Left panel
  // --color-left-panel-bg: #f6f7f9;

  // Right panel
  // --color-right-panel-bg: #f6f7f9;

  // Messages
  --color-message-bg: #f8f8f9;
  --color-message-border: transparent;

  // Inputs
  --color-input-bg: #f6f7f9;
  --color-input-border: #cdd4d9;
  --color-input-placeholder: rgba(0, 0, 0, 0.5);

  --color-checkbox-bg: transparent;
  --color-checkbox-border: #cdd4d9;
}

html.theme-default[data-theme="dark"] {
  /* BASIC colors */

  // Text colors
  --color-text-primary: #e2e8f0;
  --color-text-secondary: #cbd5e1;

  // Borders, Dividers
  --color-border: #4b5563;
  --color-divider: #4b5563;

  // Background colors
  --color-bg-primary: #1f2936;
  --color-bg-secondary: #2d3748;

  // Messages
  --color-message-bg: #374151;
  --color-message-border: transparent;

  // Inputs
  --color-input-bg: #2d3747;
}
