.theme-green {
  --color-primary-light: #86efac; /* green-300 */
  --color-primary-hover-light: #4ade80; /* green-400 */
  --color-primary-focus-light: #4ade80; /* green-400 */
  --color-primary-active-light: #22c55e; /* green-500 */


  --color-primary-dark: #4ade80; /* green-400 */
  --color-primary-hover-dark: #22c55e; /* green-500 */
  --color-primary-focus-dark: #22c55e; /* green-500 */
  --color-primary-active-dark: #16a34a; /* green-600 */


  --nav-bg-light: #f0fdf4; /* green-50 */
  --nav-bg-dark: #14532d; /* green-900 */
}